.Card_container {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-flow: wrap;
    margin-top: 50px;
    min-height: 50vh;
    background-color: #ffffff;
    position: relative;
}

.Card_places {
    display: flex;
    flex-direction: column;
    background-color: #B37D4E;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 10px;
    padding: 10px 10px 10px 10px;
    max-width: 315px;
    min-width: 230px;
    overflow: hidden;
    width: 100%;
}

img {
    position: center;
    backface-visibility: hidden;
    max-width: 100%;
    vertical-align: top;
}

.Card_places:hover {
    max-width: 330px;
}